---
layout: default
class: pats
permalink: /patriots
---



<section class="hero d-flex wow fadeIn">


		<div class="container-fluid wow fadeInUp" data-wow-delay=".25s">

				{% include nav.html %}

		</div>



	<div class="container d-flex align-middle align-items-center justify-content-center hero-cont">

		<div class="col-md-8 text-center">

			<h1 class="display-3 wow fadeInUp" data-wow-delay=".5s">New England Patriots</h1>
				<p class="lead wow fadeIn" data-wow-delay=".75s">Digital Media for the NFL Football Dynasty</p>
			</div>

	</div>
</section>
<div class="container">
<section class="wow fadeInUp" data-wow-delay="1s">

    <div class="row padding">


    <div class="col-md-6">
      <p>As a member of the Patriots Digital Media team, I focused on content management, design and development for sites such as Patriots.com, GilletteStadium.com and the New England Patriots ProShop. I also designed graphics for Patriots social channels (1m+ followers). </p>

    </div>
    <div class="col-md-6">
  <p>I built marketing emails and designed newsletters which were sent to hundreds of thousands of inboxes on a weekly basis. In addition, I provided gameday support such as podcast production, photographing press conferences and editing images. <a class="link" href="#more">Learn More <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
    </div>
  </div>

</section>

<section id="more" class="d-flex align-items-center content">
	<div class="col-md-6 text-center mob-no">
		<img class="wow fadeIn img-parallax img-fluid" data-speed="0.25" width="632" src="{{ site.url }}/assets/img/600x700-pats-social@2x.png" />
	</div>
	<div class="align-items-center col-md-6">
				<h2 class="wow fadeIn" data-wow-delay=".25s">Patriots.com</h2>
				<p class="wow fadeIn" data-wow-delay=".25s">Visual design for New England Patriots Digital Media Team.</p>
				<p class="wow fadeInUp mt-4" data-wow-delay=".75s" data-wow-duration="1s"><a href="/patriots/social.html"><button type="button" class="btn btn-primary btn-lg btn-outline">View Work <i class="fa fa-angle-right" aria-hidden="true"></i>
				</button></a></p>
			</div>

</section>
<section class="d-flex align-items-center content grey">
	<div class="align-items-center col-md-6">
				<h2 class="wow fadeIn" data-wow-delay=".25s">Marketing Emails</h2>
				<p class="wow fadeIn" data-wow-delay=".25s">Built marketing and transactional emails which were delivered to hundreds of thousands of inboxes on a weekly basis. </p>
				<p class="wow fadeInUp mt-4" data-wow-delay=".75s" data-wow-duration="1s"><a href="/patriots/email.html"><button type="button" class="btn btn-primary btn-lg btn-outline">View Work <i class="fa fa-angle-right" aria-hidden="true"></i>
				</button></a></p>
			</div>
			<div class="col-md-6 text-center z-2 mob-no">
				<img class="wow fadeIn img-parallax img-fluid" data-speed="0.25" src="{{ site.url }}/assets/img/600x509-pats-email@2x.png" />
			</div>
</section>
</div>


{% include contact.html %}
