---
layout: default
class: v-ops gradient-bg-2
permalink: /victorops
---


<section class="hero d-flex wow fadeInUp">


		<div class="container-fluid wow fadeInUp" data-wow-delay=".25s">

				{% include nav.html %}

		</div>



	<div class="container d-flex align-middle align-items-center justify-content-center hero-cont">

		<div class="col-md-8 text-center">

			<h1 class="display-3 wow fadeInUp" data-wow-delay=".5s">Making On-Call Suck Less</h1>
				<p class="lead wow fadeIn" data-wow-delay=".75s">Development, Strategy &amp; Design @ VictorOps</p>
			</div>

	</div>
</section>

<section class="wow fadeInUp white intro" data-wow-delay="1s">
<div class="container">
    <div class="row padding">


    <div class="col-md-6">
      <p>As the Web Experience Developer for VictorOps.com, I created new conversion funnels which generated $300k+ in annual revenue through user-centered design &amp; development. In addition, I built a data-driven A/B testing program to improve UX, increasing conversion rates. </p>

    </div>
    <div class="col-md-6">
  <p>I also designed marketing emails, developed microsites such as the <a class="link" href="https://help.victorops.com" target="_blank">VictorOps Knowledge Base</a> and created banner ads. In September of 2017, I led a 3 month long project to rebuild VictorOps.com with JAMstack, migrating the site off of Wordpress. <a class="link" href="#more">Learn More <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
    </div>
  </div>
</div>
</section>

<section id="more" class="content gradient-bg">
	<div class="container d-flex align-items-center ">


	<div class="col-md-6 text-center mob-no">
		<img class="wow fadeIn img-parallax phone" data-speed="0.25" src="{{ site.url }}/assets/img/420x888-mobile@2x.png" />
	</div>


	<!--
	<div class="align-items-center col-md-6">
				<h2 class="wow fadeIn" data-wow-delay=".25s">VictorOps.com</h2>
				<p class="wow fadeIn" data-wow-delay=".25s">Led design &amp; development for the VictorOps marketing site.</p>
				<p class="wow fadeInUp"><a href="http://explore.victorops.com/product/" target="_blank"><button type="button" class="btn btn-primary btn-lg">Product <i class="fa fa-angle-right" aria-hidden="true"></i>
</button></a> <a href="https://victorops.com/chatops/" target="_blank"><button type="button" class="btn btn-primary btn-lg btn-outline">ChatOps <i class="fa fa-angle-right" aria-hidden="true"></i>
</button></a> </p>
			</div>
		-->

		<div class="align-items-center col-md-6">
					<p class="wow fadeIn mb-5" data-wow-delay=".25s">
						<img class="icon" src="{{ site.url }}/assets/img/product-icon.svg" /><br />
						<b>Product Page</b><br />Redesigned VictorOps main product page, tripling conversion rates. <b><a href="/victorops/product">View Project <i class="fa fa-angle-right" aria-hidden="true"></i></a></b></p>
						<p class="wow fadeIn mb-5" data-wow-delay=".25s">
							<img class="icon" src="{{ site.url }}/assets/img/chat-icon.svg" /><br />
							<b>ChatOps Page</b><br />Landing page designed to increase SEO and paid search opportunities. <b><a href="victorops/chatops">View Project <i class="fa fa-angle-right" aria-hidden="true"></i></a></b></p>
							<p class="wow fadeIn mb-5" data-wow-delay=".25s">
								<img class="icon" src="{{ site.url }}/assets/img/incident-management-icon.svg" /><br />
								<b>Incident Management Page</b><br />Built landing pages optimized for paid search traffic.<b><a href="victorops/incident-management">View Project <i class="fa fa-angle-right" aria-hidden="true"></i></a></b></p>

				</div>
	</div>

</section>
<section class="grey">
	<div class="container d-flex align-items-center content">


	<div class="align-items-center col-md-6">

				<p class="wow fadeIn" data-wow-delay=".25s">
				<img class="icon" src="{{ site.url }}/assets/img/slack.svg" /><br /><b>Slack Integration Email</b><br /> Built HTML email to announce VictorOps' new and improved Slack integration.<br /><br />This email campaign focused on announcing the update to current customers as well as converting potential customers into personalized demos of the integration. <a href="../email/slack" target="_blank"><b>See Slack Email <i class="fa fa-angle-right" aria-hidden="true"></i></b>
	</a></p>
			</div>
			<div class="col-md-6 text-center z-2 mob-no">
				<img class="wow fadeIn img-parallax slack-email" data-speed="0.25" src="{{ site.url }}/assets/img/600x888-slack-email@2x.png" />
			</div>
			</div>
</section>

<section class="d-flex align-items-center quote white slice">
<div class="container">

<div class="col-md-8 mx-auto mt-4">


<p class="wow fadeIn text-center">"John has up-leveled our web presence dramatically. He brings a fresh approach and has pushed the brand to another level, while still very much keeping true to itself. His work has truly moved the needle for process and revenue."</p>
</div>
</div>
</section>

{% include contact.html %}
