#prod_hero {
  margin-top:-20%;
  padding:0px;

  svg {
    width:124%;
    margin-left:-6%;
  }
}

#prod_calendar {

  max-width: 620px;
  opacity: .88;
}

#prod_int {
  max-width:700px;

}

#clouds {
  background: url(../img/prod_clouds.svg);
}
