#prod_hero {

  padding:0px;
  margin-top:-400px;
  margin-bottom:-80px;
}

#prod_calendar {

  max-width: 620px;
  opacity: .88;
}

#prod_int {
  max-width:700px;

}


#clouds {
  background: url(../img/prod_clouds.svg);
}

.prod_icon {
  padding-bottom: 16px;
margin-left: -4px;
padding-top: 16px;
}

.prod_graphics-right {
  float:right;
}

.prod_graphics-left {
  float:left;
}

#prod_hero-object {
  max-width: 1800px !important;
  width: 96%;
}

#prod_calendar {
  max-width:600px !important;
  width: 90%;
}

#prod_integrations {
  max-width: 760px !important;
  width: 90%;
}


#prod_routing {
  max-width: 600px !important;
  width: 80%;
  padding-top:40px;
  padding-bottom:80px;
}

#prod_annotation {
  max-width: 600px !important;
  width: 80%;
  padding-top:40px;
  padding-bottom:80px;
}
