#hero {
  background-image: url(https://victorops.com/wp-content/uploads/2016/08/grey-patterntilev2.png);
    background-size: 32%;
    background-repeat: repeat-x;
    background-color: $white-light;

}

#prod_hero {

  padding:0px;
  margin-top:-340px;
  margin-bottom:-80px;
  @include mob_no;

}

#prod_calendar {

  max-width: 620px;
  opacity: .88;
}

#prod_int {
  max-width:700px;

}


#clouds {
  background: url(../img/prod_clouds.svg);
}

.prod_icon {
  padding-bottom: 16px;
margin-left: -4px;
padding-top: 16px;
}

.prod_graphics-right {
  float:right;
}

.prod_graphics-left {
  float:left;
}

#prod_hero-object {
  width: 95%;


}

#prod_calendar {

  width: 90%;
}

#prod_integrations {

  width: 90%;
}


#prod_routing {

  width: 72%;
  padding-top:40px;
  padding-bottom:80px;
}

#prod_annotation {

  width: 72%;
  padding-top:40px;
  padding-bottom:80px;
}

#prod_mobile {
  width: 72%;

}

#prod_chat {
  width: 96%;


}

#prod_alert {

width: 96%;
@include padding_bot;
}

#prod_api {
  @include padding_bot;
}

#prod_postmortem {
  width: 78%;

}

.trio
{
  object {
    max-width: 88px !important;
padding-bottom: 16px;
width: 80%;
  }

}

.trio_topics {

  padding-top: 40px;
padding-bottom: 40px;
border-top: 1px solid #eaeaea;
width: 80%;
margin-left: auto;
margin-right: auto;

  object {
    max-width: 80px !important;
    padding-bottom: 8px;
  }


}
