#prod_hero {

  padding:0px;
  margin-top:-350px;
  margin-bottom:-80px;
}

#prod_calendar {

  max-width: 620px;
  opacity: .88;
}

#prod_int {
  max-width:700px;

}


#clouds {
  background: url(../img/prod_clouds.svg);
}

.prod_icon {
  padding-bottom: 16px;
margin-left: -4px;
padding-top: 16px;
}

.prod_graphics-right {
  float:right;
}

.prod_graphics-left {
  float:left;
}

#prod_hero-object {
  max-width: 1800px !important;
  width: 95%;
}

#prod_calendar {
  max-width:600px !important;
  width: 90%;
}

#prod_integrations {
  max-width: 760px !important;
  width: 90%;
}


#prod_routing {
  max-width: 600px !important;
  width: 72%;
  padding-top:40px;
  padding-bottom:80px;
}

#prod_annotation {
  max-width: 600px !important;
  width: 72%;
  padding-top:40px;
  padding-bottom:80px;
}

#prod_mobile {
  width: 72%;
  max-width: 480px !important;
}

#prod_chat {
  width: 90%;
  max-width: 700px !important;

}

#prod_alert {
max-width: 600px !important;
width: 56%;
@include padding_bot;
}

#prod_api {
  @include padding_bot;
}

.trio
{
  object {
    max-width: 88px !important;
padding-bottom: 16px;
width: 80%;
  }

}

.trio_topics {

  padding-top: 40px;
padding-bottom: 40px;
border-top: 1px solid #eaeaea;
width: 80%;
margin-left: auto;
margin-right: auto;
  object {
    max-width: 80px !important;
    padding-bottom: 8px;
  }


}
