$black: #2f2f2f;
$black-light: #595959;
$blue: #4e9ddf;
$blue-light: #3B76A7;

$pink: #DB3069;

$grey: #F8F9FA;
$grey-darker: #E2E3E4;
$white: hsla(0%, 0%, 100%, 1);
$red: #C8102E;

$border: 1px solid $grey;

$shadow: 1px 1px 4px 1px rgba( $black, .05 );

$padding:80px;

$mobile: 414px;



$desktop:992px;
$yuge:1920px;
