// Buttons and Links

a {
  color: $blue-light;
  text-decoration: none;

  &:hover, &:active, &:visited, &:focus {
    color: $blue-light;
    text-decoration: none;
  }


}

.btn {
  background: $blue-light;
  border: 1px solid $blue-light;
  border-radius: 4px;
  font-weight: 300;
  color: $white;
  padding: 12px 28px;

  &:hover {
    background: $blue;
    border: 1px solid $blue;
    color: $white;
  }

  &-outline {
    background: transparent;
    border: 1px solid $blue;
    border-radius: 4px;
    color: $blue;
    padding: 12px 28px;

    &:hover {
      background: $blue-light;
      border: 1px solid $blue-light;
      color: $white;
    }
  }
}

#victorops, nav {
  .btn {
    background: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover {
      background: $white;
      border: 1px solid $white;
      color: $blue;
    }
  }
}
