// Buttons and Links
a {
  color: #0C2340;
  text-decoration:none;

  &:hover {
    font-weight:700;
    text-decoration:underline;
  }
}

.btn {

  padding:12px 28px;
  border-radius:4px;
  background:$blue-light;
  border: 1px solid $blue-light;
  color:$white;

  &:hover {
    background: $blue;
    border: 1px solid $blue;
    color:$white;
  }

  &-outline {
  padding:12px 28px;
  border-radius:4px;
  background:transparent;
  border: 1px solid $blue;
  color:$blue;

  &:hover {
    background: $blue-light;
    border: 1px solid $blue-light;
    color:$white;
  }
}

}

#victorops {
  .btn {
    border: 1px solid $white;
    color:$white;
    background:transparent;


    &:hover {
      background: $white;
      border: 1px solid $white;
      color:$blue;
    }

  }
}
