// Buttons and Links

a {
  color: $blue-light;
  text-decoration: none;

  &:hover, &:active, &:visited, &:focus {
    color: $blue-light;
    text-decoration: none;
  }


}

.btn {
  background: $pink;
  border: 1px solid $pink;
  border-radius: 4px;
  font-weight: 300;
  color: $white;
  padding: 16px 48px 16px 27px;

  &:hover {
    background: darken($pink, 10%);
    border: 1px solid darken($pink, 10%);
  }

  .fa-angle-right {
    position: absolute;
    margin-left: 12px;
    margin-top:4px;
  }

  &:hover > .fa-angle-right {
    animation-name: carat-nudge;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes carat-nudge {
    0%   {margin-left:12px;}
    25%  {margin-left: 13px}
    50%  {margin-left: 14px}
    75%  {margin-left: 13px}
    100% {margin-left: 12px}
}

  &-outline {
    background: transparent;
    border: 1px solid $blue;
    border-radius: 4px;
    color: $blue;
    padding: 16px 48px 16px 27px;

    &:hover {
      background: $blue-light;
      border: 1px solid $blue-light;
      color: $white;
    }

    &-pink {
      background:transparent;
      border: 1px solid $pink;
      color: $pink;

      &:hover {
        background: $pink;
        border: 1px solid $pink;
        color: $white;
      }
    }
  }
}



.link {
  color: $blue-light;
  text-decoration: none;
  font-weight: 500;

  &:hover, &:active, &:visited, &:focus {
    color: $blue-light;
    text-decoration: underline;
  }

}

#victorops, #broncos, #kapost, nav {
  .btn {
    background: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover {
      background: $white;
      border: 1px solid $white;
      color: $blue;
    }

  .fa-angle-right {
    margin-top:4px;
  }
  }
}

nav {
  .btn {
  .fa-angle-right {
    margin-top:2px;
  }
}
}

.full-p {
.fa-angle-double-right {
  position: absolute;
  margin-left: 12px;
  margin-top:3px;
}

&:hover > .fa-angle-double-right {
  animation-name: carat-nudge-ii;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
}

@keyframes carat-nudge-ii {
  0%   {margin-left:12px;}
  25%  {margin-left: 13px}
  50%  {margin-left: 14px}
  75%  {margin-left: 13px}
  100% {margin-left: 12px}
}

button, a, .btn {
  &:active {
    outline: none !important;
  }
  &:focus {
  outline: none !important;
  box-shadow: none;
}
&:focus-within {
  outline: none !important;
}
}
