// Nav

.container-fluid {
  padding: 0;
  width: 100%;
  z-index: 2;
}

header {
  width: 100%;


  .container {
    width: 100%;
  }

  .navbar {
    padding: 1rem;
    z-index: 9999;
  }

  .nav-item {
    font-weight: 300;
    padding: 0 8px;
  }

  img {
    width: 120px;
  }

  .nav-item {
    @media (max-width: $desktop) {
    padding: 0;
  }
  }
}



.navbar-inverse {

  .navbar-nav {

    .nav-link {
      color: $blue;
      text-transform: uppercase;
      letter-spacing: .25px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

#nav {
.navbar-inverse {

  .navbar-nav {

    .nav-link {
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
}

.navbar-toggleable-sm {

  .navbar-nav {

     .nav-link {
       padding: .5em 8px;
     }
   }
 }

.navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link {
  color:$blue;
  &:hover {
    color:$blue;
    text-decoration:underline;
  }



}

.navbar-inverse .navbar-toggler {
  border: 0;
  outline: none;
}

.inverse-nav {

  .btn {
    background: transparent !important;
    border: 1px solid $pink !important;
    border-radius: 4px;
    font-weight: 300;
    color: $pink;
    padding: 12px 48px 12px 27px;


    &:hover {
      background: $pink !important;
      border: 1px solid $pink !important;
      color: $white;
      text-decoration: none !important;
    }


  }

  .btn-outline-pink {
    background:transparent;
    border: 1px solid $pink !important;
    color: $pink;

  &:hover {
    background: $pink !important;
    border: 1px solid $pink;
    color: $white;
  }
}
}

.custom-toggler.navbar-toggler {
    border-color: $white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#0C2340' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  &:focus {
    color: $blue;
  }
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
  color: $blue;
}

#sticky-nav {
  z-index: 2;
  position:fixed;
  background: $white;
  transition: top .45s;

  .navbar {
    height: 80px;
  }

  @media (max-width: 1275px) {
    display: none;
  }
}
