// Nav
.container-fluid {
  width:100%;
  padding:0;
}
header {
  width:100%;

  .container {
    width: 100%;
  }

  .navbar {
    padding: 1rem;
  }

  .nav-item {
    padding: 0 8px;
    font-weight: 300;
  }


  img {
    width: 120px;
  }
}

.navbar-inverse .navbar-nav .nav-link {
  color:$white;

  &:hover {
    color: $white;
    text-decoration:underline;
  }
}

.navbar-toggleable-sm .navbar-nav .nav-link {
  padding: .5em 8px;
}

.navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link {
  color:$blue;
  &:hover {
    color:$blue;
    text-decoration:underline;
  }
}
