// Quote

.quote {
  grid-column-start: 3;
    grid-column-end: 11;


    h4 {
      font-size: 22px;
        @include desktop {
      font-size: 26px;
    }
      line-height: 1.4;
      font-weight: 500;
      margin: 0 auto;
    }

    p {
      margin-top: 8px;

        @include mobile {
          font-size: 16px;
        }
    }
}
