
<section class="white slice" id="contact">
			<div class="container mx-auto text-center padding">
				<h2 class="wow fadeIn">Contact Me</h2>
				<div class="col-md-9 mx-auto text-center">
				<p class="email wow fadeIn">I'd love to turn your next idea into reality. Please email <a href="mailto:john@johnegan.io" target="_blank"><b>john@johnegan.io</b></a> to get the ball rolling.</p>


				<p class="wow fadeInUp social text-center mx-auto mt-5">
				<span class="mx-4"><a href="https://www.linkedin.com/in/j0hnegan/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> LinkedIn</a></span> <span class="mx-4"><a href="https://github.com/j0hnegan" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Github</a></span> <span class="mx-4"><a href="https://angel.co/johnegan3" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i> AngelList</a></span>  <span class="mx-4"><a href="https://www.instagram.com/j0hnegan/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i> Instagram</a></span>
			</p>


			</div>
			</div>
</section>
