
<section class="white" id="contact">
			<div class="container mx-auto text-center padding">
				<h3 class="fadeIn">Let's Work Together</h3>
				<div class="col-md-8 mx-auto text-center">
				<p class="email fadeIn">I'd love to turn your next idea into reality. Please email <a href="mailto:john@johnegan.io" target="_blank"><b>john@johnegan.io</b></a> to get the ball rolling.</p>


				<p class="fadeInUp social text-center mx-auto mt-5">
				<span class="mx-4"><a href="https://www.linkedin.com/in/j0hnegan/" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> LinkedIn</a></span> <span class="mx-4"><a href="https://github.com/j0hnegan" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Github</a></span> <span class="mx-4"><a href="https://angel.co/johnegan3" target="_blank"><i class="fa fa-angellist fa-lg" aria-hidden="true"></i> AngelList</a></span>  <span class="mx-4"><a href="https://www.instagram.com/j0hnegan/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i> Instagram</a></span>
			</p>


			</div>
			</div>
</section>

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>

	</body>
</html>
