<section id="trial_foot">
    <div class="row v_center">
      <div class="col-md-4 offset-md-2 align-middle">
        <h2>Start Your 14-day Free Trial Today</h2>
        <p>Plug in your existing monitoring tools, invite some buddies, and you’re up and running. No credit card required.</p>
        <p<a href="https://victorops.com/start-free-trial/">
           <button class="btn btn-outline_white main-cta my-2 my-sm-0">Start Free Trial</button>
         </a>
        </p>

      </div>

  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <object type="image/svg+xml" data="{{ page.base_url }}assets/img/vo_main-logo.svg">
        Your Browser does not support SVG <!-- fallback image in CSS -->
        </object>
        <ul>
          <li>1401 Pearl St., #300</li>
          <li>Boulder, CO 80302</li>
          <li><a href="mailto:info@victorops.com">Info@victorops.com</a></li>
          <li style="padding-bottom:16px;">1 (877) 318-0960</li>
        </ul>
      </div>
      <div class="col-md-2 mob_no">
        <ul>
          <li><h3>Explore VictorOps</h3></li>
          <li><a href="https://explore.victorops.com/product.html">Product</a></li>
          <li><a href="https://victorops.com/pricing/">Pricing</a></li>
          <li><a href="https://victorops.com/victorops-is-different/">Compare</a></li>
          <li><a href="https://victorops.com/integrations/">Integrations</a></li>
          <li><a href="https://victorops.com/customers/">Customers</a></li>
          <li><a href="https://victorops.com/about/">About Us</a></li>
          <li><a href="https://victorops.com/media/">Press</a></li>
          <li><a href="https://victorops.com/blog/">The Victors Blog</a></li>
        </ul>
      </div>
      <div class="col-md-2 mob_no">
        <ul>
          <li><h3>Resources</h3></li>
          <li><a href="https://victorops.com/knowledge-drop/case-studies/">Case Studies</a></li>
          <li><a href="https://victorops.com/knowledge-drop/devops-docs/">DevOps Docs</a></li>
          <li><a href="https://victorops.com/knowledge-drop/events/">VictorOps Events</a></li>
          <li><a href="https://victorops.com/knowledge-drop/infographics/">Infographics</a></li>
          <li><a href="https://victorops.com/knowledge-drop/webinars/">Webinars</a></li>
          <li><a href="https://victorops.com/terms-of-service/">Terms of Service</a></li>
          <li><a href="https://victorops.com/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><h3>Current Customers</h3></li>
          <li><a href="https://help.victorops.com">Knowledge Base</a></li>
          <li><a href="https://victorops.com/contact-support/">Contact Support</a></li>
        </ul>
        <p><a href="https://portal.victorops.com" >
           <button class="btn btn-outline_white my-2 my-sm-0">VictorOps Login</button>
         </a>
        </p>
      </div>
      <div class="col-md-2">
        <ul>
          <li><h3>Contact Sales</h3></li>
          <li><a href="mailto:sales@victorops.com">sales@victorops.com</a></li>
          <li>(720) 636-8607</li>
        </ul>
        <p><a href="https://victorops.com/request-demo" >
           <button class="btn btn-outline my-2 my-sm-0">Request A Demo</button>
         </a>
        </p>
      </div>
    </div>
  </div>
</footer>



<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ page.base_url }}assets/js/index.js"></script>
<script src="{{ page.base_url }}assets/js/wow.js"></script>

<script>
new WOW().init();
</script>

</body>
</html>
