{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product | VictorOps</title>

    {{ page.cannonical_url }}



    <meta name="description" content="{{ site.site_description }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="copyright" content="{{ site.copyright }}"/>

    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="https://explore.victorops.com/favicon.ico"/>

    <!-- 404 Redirect -->
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <!-- /404 Redirect -->

    <!-- JS to delay animations until page fully loads -->
    <script>
    document.body.className += " js-loading";
window.addEventListener("load", removeLoadingClass, false);
function removeLoadingClass() {
  document.body.className = document.body.className.replace("js-loading","");
}
</script>




    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <link rel="stylesheet" href="../assets/css/animate.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

</head>
<body class="fade-in">
