<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>John Egan | Product Designer</title>

    <meta name="google-site-verification" content="AXsTAb9wZHd9-TnJQlwhRtOl3lhHvurG30U8Jq5xbSU" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119935096-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119935096-1');
    </script>


    <meta name="description" content="From Super Bowl champions to tech startups, from Boston to Boulder, I’ve helped companies shape their digital experience one pixel at a time." />
    <meta name="author" content="John Egan" />
    <meta name="copyright" content="2019"/>

    <meta property='og:title' content="John Egan | Design & Development"/>
    <meta property='og:image' content=""/>
    <meta property='og:description' content="From Super Bowl champions to tech startups, from Boston to Boulder, I’ve helped companies shape their digital experience one pixel at a time."/>
    <meta property='og:url' content="https://johnegan.io" />

    <script src="https://use.fontawesome.com/98fc17ae4a.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <link rel="stylesheet" href="{{ site.url }}/assets/css/animate.css?v=20171213" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />


</head>
