<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="robots" content="NOINDEX, NOFOLLOW">

    <title>JOHN EGAN | DESIGN + DEVELOPMENT</title>

    <meta name="google-site-verification" content="_hzQMEWNNqHTrUzwpLXl9nW1UBgIj6IFGmMTPOKVe_M" />



    <meta name="description" content="{{ site.site_description }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="copyright" content="{{ site.copyright }}"/>

    <meta property='og:title' content="John Egan | Design & Development"/>
    <meta property='og:image' content="https://johnegan.io/assets/img/1440x744-screen@2x.jpg"/>
    <meta property='og:description' content="From professional sports dynasties to tech startups, from Boston to Boulder, I’ve helped companies shape their digital presence one line of code at a time."/>
    <meta property='og:url' content="https://johnegan.io" />


    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Roboto:500,700,900" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



    <script src="https://use.fontawesome.com/98fc17ae4a.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/animate.css?v=20171213" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />




</head>



<body class="{{ page.class }}">
