<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <title>JOHN EGAN | DESIGN + DEVELOPMENT</title>

    <meta name="google-site-verification" content="AXsTAb9wZHd9-TnJQlwhRtOl3lhHvurG30U8Jq5xbSU" />



    <meta name="description" content="{{ site.site_description }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="copyright" content="{{ site.copyright }}"/>

    <link rel="shortcut icon" type="image/png" href=""/>

    <!-- 404 Redirect -->
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <!-- /404 Redirect -->




    <link rel="stylesheet" href="{{ page.base_url }}assets/css/animate.css?v=20171213" />
    <link rel="stylesheet" href="{{ page.base_url }}assets/css/style.css" />
    {% if page.permalink == / %}
    <link rel="stylesheet" href="{{ page.base_url }}assets/css/index.css" />
    {% endif %}

</head>
<body>
