button {
  border-radius: $_4;

.yellow {
  background:$yellow;
  border:1px solid $yellow;
  color:$white;

&:hover {
 background:$yellow-dark;
 border:1px solid $yellow-dark;

}
}
}

.btn-outline {
  border:1px solid $yellow;
  color:$yellow-dark;

  &:hover {
    background:$yellow;
    color:$white;
  }

}
