
.yellow {
  background:$yellow;
  border:1px solid $yellow;
  color:$white;

&:hover {
 background:$yellow-dark;
 border:1px solid $yellow-dark;

}
}

.btn {
@include bradius;
padding: 12px 24px;

&:focus {
  box-shadow: none;
}

.focus {
  box-shadow: none;
}

}

.btn-outline {
  border:1px solid $yellow;
  color:$yellow-dark;

  &:hover {
    background:$yellow;
    color:$white;
  }

}

.btn-outline_white {
  border:1px solid $white;
  color:$white;

  &:hover {
    background:$white;
    color:$yellow-dark;
  }

}


.navbar-toggleable-md .navbar-collapse {
 @media screen and (min-width: $desktop) {
       justify-content: space-between;

 }
 }

.nav_btn {

  @media screen and (min-width: $desktop) {
        padding-left: $_16;
        padding-right:$_24;

  }

}

.main-cta {
  @media screen and (min-width: $desktop) {
  font-size:20px;
}
}
