button {
  @include bradius;
  padding: 12px 24px;

.yellow {
  background:$yellow;
  border:1px solid $yellow;
  color:$white;

&:hover {
 background:$yellow-dark;
 border:1px solid $yellow-dark;

}
}
}

.btn:focus {
  box-shadow: none;
}

.btn.focus {
  box-shadow: none;
}

.btn-outline {
  border:1px solid $yellow;
  color:$yellow-dark;

  &:hover {
    background:$yellow;
    color:$white;
  }

}


.navbar-toggleable-md .navbar-collapse {
 @media screen and (min-width: $desktop) {
       justify-content: space-between;

 }
 }
