// Mixins Created 20170330

@mixin h_center {
    margin: {
        left: auto;
        right: auto;
    }
}


@mixin borda {
  border: $default_borda;
}

@mixin borda_bottom {
  border-bottom: $default_borda;
}

@mixin borda_top {
  border-top: $default_borda;
}

@mixin bradius {
  border-radius: $_4;
}

@mixin bradius_borda {
  border-radius: $_4;
  border: $default_borda;
}

@mixin hero_blank-nav {
@media screen and (min-width: $desktop) {
padding-top: 160px;
}

}

@mixin mobile-no {
  @media screen and (min-width: $desktop) {
    display:none;
  }
}


@mixin padding_tb {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin padding_top {
padding-top: $padding;

}

@mixin padding_bot {
padding-bottom: $padding;

}

@mixin padding_tb_sm {
padding-top: $padding_sm;
padding-bottom: $padding_sm;

}

@mixin z-index_1 {
  z-index:1;
}

@mixin z-index_2 {
  z-index:2;
}


@mixin h_center {
  margin-left:auto;
  margin-right:auto;
  }

@mixin white {
  background: $white;
}

@mixin overflow {
  overflow: hidden;
}

@mixin v_center {
  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}
