/* Navigation Styles Updated 20170329 */

.white {
  background:$white;
  @include borda_bottom;
}

.nav {
  a {
    color: $grey;
  }

  height:80px;
  line-height:80px;
  background: $white;

  .navbar-brand {
    img {
      width:100%;
      max-width:160px;
      height:auto;
    }
  }
}

.dropdown-menu {
@include bradius_borda;
color: #grey;
}

.dropdown-item {
.active, &:active {
background-color:$white-light;
}
}
