/* Navigation Styles Updated 20170329 */


.nav {
  a {
    color: $grey;
  }



  height:80px;
  line-height:80px;
  background: $white;


  .navbar-brand {
    img {
      width:100%;
      max-width:160px;
      height:auto;
    }
  }
}

.nav-up {
    top: -80px;
}


.dropdown-menu {
@include bradius_borda;
color: #grey;
}

.dropdown-item {
.active, &:active {
background-color:$white-light;
}
}

header {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index:1;
    @include borda_bottom;
}
