@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }

}

.jumbotron {
  width:100%;
  background: $white-light;

  @include hero_blank-nav;
  padding-bottom:0px;

}


.trio {
  font-size:1.2rem;
  max-width:80%;
}
