
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
    kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, input, select, textarea, button,
    legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
    menu, nav, section, summary, time, mark, audio, video, object, embed {
        margin:0; padding:0; border:none; outline:none; font-size:100%; vertical-align:middle; background:transparent;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
    table { border-collapse:collapse; border-spacing:0; }
    ul, ol { list-style-type:none; }
    pre { white-space:pre; white-space:pre-wrap; white-space:pre-line; word-wrap:break-word; }
    strong, th { font-weight:bold; }

    span, em, strong, small { vertical-align:baseline; }

    input[type=radio], input[type=checkbox] { margin-right:5px; }
    input[type=submit], button { cursor:pointer; }
    textarea { overflow:auto; }

    html {
        overflow-y:scroll;
    }
	
	iframe, object {
		max-width: 100% !important;
	}