---
layout: default
class: v-ops
permalink: /victorops
---

<body class="{{ page.class }}">

<section class="blue-black fh-100 hero d-flex wow fadeIn">
<div class="vid-bg mob-no wow fadeIn" data-wow-delay="1s">
</div>

		<div class="container-fluid wow fadeInUp" data-wow-delay=".25s">

				{% include nav.html %}

		</div>





	<div class="container d-flex align-middle align-items-center justify-content-center hero-cont">


		<div class="col-md-12 text-center">

			<h1 class="display-3 wow fadeInUp" data-wow-delay=".5s">Building The Future Faster</h1>
				<p class="lead wow fadeIn" data-wow-delay=".75s">Development, Strategy &amp; Design @ VictorOps</p>
				<div id="down" class="mx-auto text-center down mob-no" >
						<p><a href="#more"><i style="padding: 24px 28px;" class="fa fa-angle-down wow bounceIn" data-wow-delay="1s" aria-hidden="true"></i></a></p>
			</div>
			</div>
		</div>






	</div>

</section>

<section id="more" class="white wow fadeInUp intro" data-wow-delay="1s">
<div class="container">
    <div class="row padding col-lg-9 mx-auto">
    <p>As an early stage startup, VictorOps depends on it’s website to make an unforgettable first impression as well as drive users into trial signups and product demos.<br /><br />I led design &amp; development for VictorOps.com, generating $300k+ in annual revenue, increasing organic traffic by 94% and tripling conversion rates.<br /><br />I also designed marketing emails, developed microsites such as the <a class="link" href="https://help.victorops.com" target="_blank">VictorOps Knowledge Base</a> and created graphics for social and paid search.
</p>

  </div>
</div>
</section>
<section class="grey padding slider mob-no">
	<div class="container">


		<div id="carouselExampleIndicators" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
		<div class="carousel-item active mx-auto">

			<img class="d-block mx-auto img-fluid" src="../assets/img/217x540-imtt-mobile.png" srcset="../assets/img/217x540-imtt-mobile@2x.png 2x" alt="First slide">

	</div>
		<div class="carousel-item  mx-auto text-center">
			<img class="d-block mx-auto img-fluid" src="../assets/img/933x540-integrations.png" srcset="../assets/img/933x540-integrations@2x.png 2x" alt="First slide">
		</div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

		<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>

</div>
	</div>
</section>
<section class="white padding">
	<div class="container">
	  <div class="row col-lg-8 quote mx-auto text-center">
			"John has up-leveled our web presence dramatically. He brings a fresh approach and has pushed the brand to another level, while still very much keeping true to itself. His work has truly moved the needle for process and revenue."
	  </div>
	</div>
</section>
<section class="grey padding">
<div class="container mx-auto text-center">
  <img class="d-block mx-auto img-fluid" src="../assets/img/600x994-slack-email.png" srcset="../assets/img/600x994-slack-email@2x.png 2x" alt="First slide">
</div>
</section>
<section class="grey padding">
<div class="container mx-auto text-center">
  <img class="d-block mx-auto img-fluid" src="../assets/img/600x1309-product-page.png" srcset="../assets/img/600x1309-product-page@2x.png 2x" alt="First slide">
</div>
</section>






{% include contact.html %}

<footer class="white">
  <div class="container">



    <div class="col-md-4 mx-auto text-center">
      <i class="fa fa-copyright" aria-hidden="true"></i> 2018 John Egan
    </div>

</div>

</footer>

<script>
$(document).ready(function(){


  // Add smooth scrolling on all links inside the navbar
  $("#down a").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 600, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    }  // End if
  });
});
</script>
