.index {


  .container {
    @media (min-width: 1200px) {
      width: 1215px;
  }
  }

.ring {
  width:90%;
}




#hero {

  .hero-cont {
    padding-top: 78px;
    @media (max-width: $desktop) {
      padding-top: 160px;
  }
}

.lead {
  margin-bottom: 0;
}


  .display-3 {

    font-size: 5rem;
  @media (min-width: $desktop) {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    animation: type 4s steps(60, end);
    animation-delay: 1s;
  }
    padding-bottom: 40px;
  }

  .display-3:nth-child(2){

    animation: type2 8s steps(60, end);
  }


  .typer{
    animation: blink 1s infinite;
  }

  @keyframes type{
    from { width: 0; }
  }

  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
  }

  @keyframes blink{
    to{opacity: .0;}
  }

  .emoji {
    @media (max-width: 960px) {
      display: none;
  }
}

.row {
  margin: 0;
    }

overflow:hidden;

.main-content-cont {

  @media (max-width: $desktop) {
    padding: 0;
  }
}

.contact-anchor {
  padding-left: 40px;
  color: $pink;
  font-size: 18px;
  font-weight: 500;

  @media (max-width: 1170px) {
    display: none;
  }

  &:hover {
    text-decoration:underline;
  }

  &:hover > .fa-angle-right {
    animation-name: nudge;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

}

}

@keyframes nudge {
  0%   {margin-left:0px;}
  25%  {margin-left: 1px}
  50%  {margin-left: 2px}
  75%  {margin-left: 1px}
  100% {margin-left: 0px}
}





#victorops {
    @media (min-width: $desktop) {
    padding: 101px 0;
  }

    background:url(../img/1440x900-larper@2x.jpg);
    background-size:cover;

    @media (max-width: 1440px) {
      background-position: right;
    }



  h2 {
    color:$white;
  }

  p {

    color:$white;
  }

  .container {
    height: 100%;
  }
}

#broncos {

    background:url(../img/1440x900-broncos-hero@2x.jpg);
    background-size:cover;

    @media (max-width: 1440px) {
      background-position: right;
    }



  h1 {
    color:$white;
  }

  p {

    color:$white;
  }

  .container {
    height: 100%;
  }
}


#kapost {

    background:url(../img/1440x900-kapost-hero@2x.jpg);
    background-size:cover;

    @media (max-width: 1440px) {
      background-position: right;
    }



  h1 {
    color:$white;
  }

  p {

    color:$white;
  }

  .container {
    height: 100%;
  }
}

#more-work {
  @include padding;

  .container-fluid {
    padding: 30px;
  }
}

.link {
  margin-bottom: 0;
  color: $blue;

  &:hover {
    text-decoration: none;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.emoji {
  display: inline-block;
}

.customers {

.first-row {
  padding:40px 0;
  @media (max-width: $desktop) {
    padding-bottom: 0px;
}
}

.second-row {
  padding-bottom:40px;
}

.align-items-center {
  @media (max-width: $desktop) {
    padding-bottom: 80px;
}
}

.align-items-center:last-of-type {
  @media (max-width: $desktop) {
    padding-bottom: 0px;
}
}
}


.down {
  p {
    .fa-angle-down {
      background: transparent;
      border: 1px solid $pink;
      color: $pink;
      width: 73.44px;
height: 74px;
      padding: 0;

      &:hover {
        background: $pink;
        color: $white;
      }
    }
  }

}

nav {
  position: fixed;
width: 100%;
background: #fff;
top: 0;
}

}
