.index {

// Images

.ring {
  width:100%;
}



#victorops {

  background: $blue;


  .vo-bg {
    position:absolute;
    height:100vh;
    width:100vw;
    background:url(../img/1440x900-larper@2x.jpg);
    background-size:cover;




  }


  h1 {
    color:$white;
  }

  p {

    color:$white;
  }

  .container {
    height: 100%;
  }
}

#skills {
  display:flex;
  padding:0;
  background: #344f73; /* Old browsers */
  background: -moz-linear-gradient(top, #344f73 0%, #0c2340 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #344f73 0%,#0c2340 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #344f73 0%,#0c2340 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344f73', endColorstr='#0c2340',GradientType=0 ); /* IE6-9 */
}
}
