.index {

// Images

.ring {
  width:80%;

  @media (min-width: $desktop) {
    width: 100%;
  }
}


#hero {

  overflow:hidden;

  .main-content {
    @media (min-width: $desktop) {
      padding: 8vh 0;
    }

  }

  .container-fluid {
    padding: 0 15px;
  }

  background: linear-gradient(#1C4974, $blue);


  h1, p {
    color: #fff;
  }

  .emoji {
    /* Start the shake animation and make the animation last for 0.5 seconds */
animation: shake 0.5s;
/* When the animation is finished, start again */
animation-iteration-count: infinite;
  }

}


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}



#victorops {

    background:url(../img/1440x900-larper@2x.jpg);
    background-size:cover;

    @media (max-width: 1440px) {
      background-position: right;
    }



  h1 {
    color:$white;
  }

  p {

    color:$white;
  }

  .container {
    height: 100%;
  }
}


#contact {
  background: $grey;



}

}
