.pats {
  background: $grey;


.hero {

    padding:0;
    overflow: hidden;
    @media (min-width: $desktop) {
    min-height: 700px;
  }

    .vid-bg {
      position: absolute;
      overflow: hidden;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width:100%;
      @media (min-width: $desktop) {
      min-height: 700px;
    }

      video {
        opacity: .1;

        @media (min-width: 1280px) {
          width:100%;
        }


      }
    }


    .container {
      height:100%;
        padding: 120px 0;

    }


    h1 {
      color:$white;
      font-size: 3rem;
        @media (min-width: $desktop) {
      font-size:5rem;
    }

    }

    p {

      color:$white;
    }


}

.content {
  padding: 20px 0;
}

footer {
  background: $white;
  border-top: 1px solid $grey;
}

.down {
  margin-bottom: -28vh;
      padding-top: 22vh;
}





}
