.pats {
  background: $grey;


.hero {

    background:url(../img/1440x480-goat@2x.jpg);
    background-size:cover;
    @media (min-width: $desktop) {
    background-position: center;
  }
    padding:0;


    .container {
      height:100%;
        padding: 120px 0;

    }


    h1 {
      color:$white;
      font-size:5rem;

    }

    p {

      color:$white;
    }


}

.content {
  padding: 40px 0;
}

footer {
  background: $white;
  border-top: 1px solid $grey;
}


}
