.victorops {
  background: #F8F9FA;


.hero {

    background:url(../img/1440x480-larp-city.jpg);
    background-size:cover;
    height:33.52vw;
    padding:0;

    .container {
      height:100%;
    }

    h1 {
      color:$white;
      font-size:6rem;
    }

    p {

      color:$white;
    }


}


}
