.v-ops {
  background: $blue;

  @media (max-width: $desktop) {
  .btn {
    width: 100%;
    margin-bottom: 16px;
  }
  }


.hero {


    padding:0;

    .vid-bg {
      background:url(../img/1440x900-larper@2x.jpg);
      background-size:cover;
      background-position: center;
      position: absolute;
      overflow: hidden;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width:100%;
    }


    .container {
      height:100%;
        padding: 120px 0;

    }


    h1 {
      color:$white;
      font-size: 3rem;
        @media (min-width: $desktop) {
      font-size:5rem;
    }

    }

    p {

      color:$white;
    }


}

.content {
  padding: 40px 0;
}

footer {
  background: $white;
  border-top: 1px solid $grey;
}

.phone {
  width:100%;
  max-width: 380px;
}

.slack-email {
  width:100%;
  max-width: 600px;
}

.down {
  margin-bottom: -28vh;
      padding-top: 22vh;
}

}
