.v-ops {
  background: $grey;

  @media (max-width: $desktop) {
  .btn {
    width: 100%;
    margin-bottom: 16px;
  }
  }


.hero {

    background:url(../img/1440x480-larp-city.jpg);
    background-size:cover;
    background-position: center;
    padding:0;


    .container {
      height:100%;
        padding: 120px 0;

    }


    h1 {
      color:$white;
      font-size: 3rem;
        @media (min-width: $desktop) {
      font-size:5rem;
    }

    }

    p {

      color:$white;
    }


}

.content {
  padding: 40px 0;
}

footer {
  background: $white;
  border-top: 1px solid $grey;
}

.phone {
  width:100%;
  max-width: 380px;
}

.slack-email {
  width:100%;
  max-width: 600px;
}

}
