html, body {
  padding:0;
  margin:0;
  overflow-x:hidden;
}

section {
  padding: 80px 0;
}

.jumbotron {

  background: transparent;

}

  .display-3 {
  font-size:3.48rem;
  font-weight: 900;
}

.card {
  background:$blue;
  @include padding;
}

.hero {
    flex-direction:column;
}

.column {
  flex-direction:column;
}

  .fh-100 {
    padding: 0;
    height: 100vh;
    }

.p-0 {
  padding:0;
}

.white {
  background: $white;
}

.quote {
  @media (min-width: $desktop) {
  margin-top: -220px;
}
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 32%, 100% 0, 100% 100%, 0 100%);
  padding: 160px 0 0 0;
}

.z-2 {
  z-index: 2;
}


  @media (min-width: $desktop) {
    .mob-yes {
      display:none
    }
  }

  @media (max-width: $desktop) {
    .mob-no {
      display:none
    }
  }


  .email {

  a {
    color: $blue-light;
    text-decoration: none;

    &:hover {
      color: $blue;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}


.social {
  font-size:16px;
  font-weight:900;
  font-family: 'Roboto', sans-serif;
  color: $blue-light;

  .fa {
    font-size:22px;
    margin-right: 2px;

  }

@media (max-width: $desktop) {
  display: none;
}
}

footer {
  padding: 40px 0;
  background: $grey;
  color: $blue-light;
}
