// Typography

body, button, form, input {
  font-family: 'Roboto Mono', monospace;

}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color:$blue;
  font-weight: 900;
  font-size:4rem;

}

h2 {
  font-size:4rem;
}

p {
  font-size: 18px;
  color:$black;
  margin-bottom: 1.5rem;

}

.pill {
  color: $white;
  background: #344F73;
  padding: 8px 16px;
  border-radius: 24px;
  display: inline-block;
  margin-bottom: 1rem;
}
