$black: #010914;

$blue: #0C2340;
$blue-light: #344F73;
$blue-lighter: #546C8D;
$blue-lightest: #7E90A9;

$grey: #DDE2E9;
$red-light: hsla(0%, 75%, 60%, 1);
$white: hsla(0%, 0%, 100%, 1);
$red: #C8102E;

$border: 1px solid $grey;

$padding:80px;

$desktop:960px;
$yuge:1920px;
