$black: #010914;

$blue: #0C2340;
$blue-light: #344F73;
$blue-lighter: #546C8D;
$blue-lightest: #7E90A9;

$pink: #DB3069;

// $grey: #F8F9FA;
$grey-darker: #E2E3E4;
$red-light: hsla(0%, 75%, 60%, 1);
$white: hsla(0%, 0%, 100%, 1);
$red: #C8102E;

$border: 1px solid $grey;

$padding:80px;

$desktop:990px;
$yuge:1920px;
