---
layout: default
---

<section>
<!-- A fluid container that uses the full witdh -->
<div id="hero" class="jumbotron jumbotron-fluid" style="background-position:center top;background-repeat-y:no-repeat;">
  <div class="container">
    <h1 class="display-1" style="
   color: #fff;
   letter-spacing: -10px;
   font-size: 14em;
">John<br>Egan</h1>
    <p class="lead"></p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">{{ page.hero_cta }}</a>
    </p>
  </div>
</div>
</section>


{{content}}
