---
layout: default
---


<section class="hero d-flex">


		<div class="container-fluid wow fadeInUp">

				{% include nav.html %}

		</div>



	<div class="container d-flex align-middle align-items-center justify-content-center">

		<div class="col-md-8 text-center">

			<h1 class="display-3 wow fadeInUp">Making On-Call Suck Less</h1>
				<p class="lead wow fadeInUp">Development, Strategy &amp; Design @ VictorOps</p>
			</div>

	</div>
</section>
<div class="container">
<section>

    <div class="row">


    <div class="col-md-6">
      <p>The primary goal of VictorOps.com is to drive potential customers into both free trials and personalized demos of the VictorOps product. With this goal in mind, I lead data driven design &amp; development. My</p>

    </div>
    <div class="col-md-6">
  <p>Lorem ipsum dolor amet unicorn heirloom chambray XOXO bitters godard. Knausgaard raw denim tumeric, pok pok kombucha poutine salvia. Flexitarian craft beer bitters, tattooed direct trade waistcoat plaid chia bespoke. Bitters shoreditch single-origin coffee yr small batch umami. Forage hot chicken roof.</p>
    </div>
  </div>

</section>

<section class="d-flex align-items-center">
	<div class="col-md-6 text-center">
		<img class="wow fadeIn img-parallax" data-speed="0.25" width="380" src="{{ site.url }}/assets/img/420x888-mobile@2x.png" />
	</div>
	<div class="align-items-center col-md-6">
				<h2 class="wow fadeIn" data-wow-delay=".25s">VictorOps.com</h2>
				<p class="wow fadeIn" data-wow-delay=".25s">Manage Development, Strategy &amp; Design. Lead site rebuild in Fall of 2017.</p>
				<p class="wow fadeInUp"><a href="https://explore.victorops.com/product/" target="_blank"><button type="button" class="btn btn-primary btn-lg">Product <i class="fa fa-angle-right" aria-hidden="true"></i>
</button></a> <a href="https://victorops.com/chatops/" target="_blank"><button type="button" class="btn btn-primary btn-lg btn-outline">ChatOps <i class="fa fa-angle-right" aria-hidden="true"></i>
</button></a> </p>
			</div>

</section>
<section class="d-flex align-items-center">
	<div class="align-items-center col-md-6">
				<h2 class="wow fadeIn" data-wow-delay=".25s">Marketing Emails</h2>
				<p class="wow fadeIn" data-wow-delay=".25s">Build marketing emails for product announcements and lead nurture campaigns.</p>
				<p class="wow fadeIn"><a href="../email/slack" target="_blank"><button type="button" class="btn btn-primary btn-lg">Slack <i class="fa fa-angle-right" aria-hidden="true"></i>
	</button></a> <a href="/work/victorops"><button type="button" class="btn btn-primary btn-lg btn-outline">About <i class="fa fa-angle-right" aria-hidden="true"></i>
	</button></a></p>
			</div>
			<div class="col-md-6 text-center z-2">
				<img class="wow fadeIn img-parallax" data-speed="0.25" width="600" src="{{ site.url }}/assets/img/600x888-slack-email@2x.png" />
			</div>
</section>
</div>
<section class="d-flex align-items-center quote white">
<div class="container">

<div class="col-md-8 mx-auto mt-4">


<p class="wow fadeIn text-center">"John has up-leveled our web presence dramatically. He brings a fresh approach and has pushed the brand to another level, while still very much keeping true to itself. His work has truly moved the needle for process and revenue."</p>
</div>
</div>
</section>

{% include contact.html %}
